<%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" %>
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/flatpickr" %>
<%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" %>
<%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" %>
<%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css" %>


<!-- Navbar -->
<div class="navbar d-flex justify-content-between align-items-center px-3 py-2 border-bottom bg-white">
  <div class="logo-and-search d-flex align-items-center gap-3">
    <%= link_to (user_signed_in? ? authenticated_root_path : unauthenticated_root_path) do %>
      <%= image_tag "vroom logo.jpg", class: "logo" %>
    <% end %>

    <div class="search-bar d-flex gap-2">
      <input type="text" class="form-control" placeholder="Where">
<div data-controller="datepicker">
  <!-- Combined visible input -->
  <input type="text" class="form-control" placeholder="Select date range"
    data-datepicker-target="rangeInput">

  <!-- Hidden fields for backend -->
  <input type="hidden" name="booking[start_date]" data-datepicker-target="startField">
  <input type="hidden" name="booking[end_date]" data-datepicker-target="endField">
</div>

      <!-- Time Dropdown -->
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle form-control text-start" type="button" id="timeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Select Time
        </button>
        <ul class="dropdown-menu" aria-labelledby="timeDropdown">
          <% ["08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00"].each do |time| %>
            <li><a class="dropdown-item" href="#" onclick="selectTime('<%= time %>')"><%= time %></a></li>
          <% end %>
        </ul>
        <input type="hidden" id="selected-time" name="time">
      </div>
    </div>
     <button type="button" class="btn btn-primary" onclick="window.location.href='<%= cars_path %>'">Search</button>
  </div>

  <div class="top-buttons d-flex gap-2">
    <% unless controller_name == "bookings" && action_name == "index" %>
  <%= link_to "Manage Booking", bookings_path, class: "btn btn-outline-dark" %>
<% end %>

    <%= link_to "Make money $", new_car_path, class: "btn btn-outline-dark" %>
    <% if user_signed_in? %>
  Logged in as <%= current_user.email %> |
<%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, class: "btn btn-outline-dark" %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path, class: "btn btn-outline-dark" %> |
  <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-dark" %>
<% end %>
  </div>
</div>
