<%= render "shared/navbar" %>

<div class="my-3"></div>

<!-- Banner carousel -->
<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "Picture1.png", class: "d-block w-100", alt: "Slide 1" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Picture2.jpg", class: "d-block w-100", alt: "Slide 2" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "Picture3.png", class: "d-block w-100", alt: "Slide 3" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Card section -->
<div class="container w-75 p-3 mt-5 mb-5">
  <h1 class="mb-4 text-center"> Vroom! Explore Our Cars</h1>

  <div class="card-grid">
    <% @cars.each do |car| %>
      <%= link_to car_path(car), class: "card-link-wrapper" do %>
        <div class="card">
          <div class="card-top">
            <h2><strong><%= "#{car.make} #{car.model}" %></strong></h2>
          </div>
          <div class="card-image">
            <%= image_tag("bmw_car.jpg", alt: "#{car.make} image") %>
          </div>
          <div class="card-bottom">
            Year: <%= car.year %>, Fuel: <%= car.fuel_type %>, Transmission: <%= car.transmission %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
