<%= render "shared/navbar" %>



<div class="car-header">
  <h1><%= @car.make %> <%= @car.model %> | <%= @car.year %></h1>
</div>

<div class="car-gallery">
  <div class="main-image">
    <%= image_tag "pagani.jpg", alt: "Main Car Image" %>
  </div>
  <div class="thumbnail-grid">
    <%= image_tag "pagani.jpg", alt: "Interior" %>
    <%= image_tag "pagani.jpg", alt: "Side View" %>
    <%= image_tag "pagani.jpg", alt: "Rear View" %>
    <%= image_tag "pagani.jpg", alt: "Dashboard" %>
  </div>
</div>

<div class="car-details">
  <p><strong>Transmission:</strong> <%= @car.transmission %></p>
  <p><strong>Fuel Type:</strong> <%= @car.fuel_type %></p>
  <p><strong>Year:</strong> <%= @car.year %></p>
  <p><strong>Description:</strong> <%= @car.description %></p>
</div>

<div class="car-actions">
  <%= link_to "Share", "#", class: "btn-share" %>
  <%= link_to "Book Now", confirm_booking_path, class: "btn-share" %>
</div>
